<%= simple_form_for @book, html: { multipart: true } do |f| %>
  <%= select_tag(:category_id, options_for_select(@categories), :prompt => "Select category") %>
  <%= f.file_field :avatar %>
  <%= f.input :title, label: "Book title" %>
  <%= f.input :author %>
  <%= f.cktext_area :description, :class => 'ckeditor' %>

  <h3>Tags</h3>
  <div id='tags'>
    <% @book.tags.build %>
    <%= f.fields_for :tags do |tag| %>
      <%= render 'tag_fields', :f => tag %>
    <% end %>

    <div class="links">
      <%= link_to_add_association 'add tags', f, :tags, class: "btn btn-custom" %>
    </div>
  </div>

  <%= f.button :submit, class: "btn-custom2" %>
<% end %>