<%= simple_form_for @book, html: { multipart: true } do |f| %>
  <%= select_tag(:category_id, options_for_select(@categories), :prompt => "Select  category") %>
  <%= f.input :title, label: "Book Title" %>
  <%= f.input :description %>
  <%= f.input :author %>

  <h3>Tasks</h3>
  <div id='tags'>
    <% @book.tags.build %>
    <%= f.fields_for :tags do |tag| %>
      <%= render 'tag_fields', :f => tag %>
    <% end %>

    <div class="links">
      <%= link_to_add_association 'add tags', f, :tags %>
    </div>
  </div>

  <%= f.button :submit %>
<% end %>