<div class="row">
  <div class="col-md-4">
    <%= image_tag (@book.avatar_url || default_url), class: "book-show", title: @book.title, alt: @book.title %>    
    <% if  @book && @book.reviews.present? %>
      <div class="reviews">
        <!-- review -->
        <%= render @book.reviews, :locals => {review: @book.reviews} %>
      </div>
    <% end %>
    <div>
    <% if user_signed_in? %>
     <%= link_to "Add review", new_book_review_path(@book), class: "btn" %>
    <% end %>
    </div>

    <div class="links btn-group">
      <%= link_to "Back", root_path, class: "btn btn-custom" %>
      <% if  user_signed_in? %>
        <% if @book.user_id == current_user.id %>

          <%= link_to "Edit", edit_book_path(@book), class: "btn btn-custom" %>
          <%= link_to "Delete", book_path(@book), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-custom" %>
        <% end %>
      <% end %>
    </div>

  </div>

  <div class="col-md-8">
    <div class="book-info">
      <h2 class="book-title"><%= @book.title %></h2>
      <h3 class="book-author"> <span>From</span>  <%= @book.author %></h3>
      <!-- <h4>Category: <%= @book.category.name %> </h4> -->
      <h2 class="avg-rating"> Average Rating </h2>
      <div class="average-review-rating" data-score=<%= @average_review %>></div>
      <span class="number-of-reviews"> Based on <%= @book.reviews.count%> Reviews </span>
      <p class="book-desc"><%= @book.description.html_safe %></p>
    </div>
  </div>
</div>

<script src="/assets/jquery.raty.js" type="text/javascript"></script>
<script>
  $('.review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>

<script>
  $('.average-review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>