<!DOCTYPE html>
<html>
  <head>
    <title>Book review</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag Ckeditor.cdn_url %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <div class="navbar-header">
            <%= link_to "Book Review", root_path, class: "navbar-brand" %>
        </div>
        
        <ul class="nav navbar-nav">
          <% if user_signed_in? %>
          <li></li>
          <% else %>
            <li> <%= link_to "Sign Up", new_user_registration_path, class: "dropdown-item" %> </li>
          <% end %>
        </ul>

        <ul class="nav navbar-nav">
          <li>
            <% if user_signed_in? %>
              <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
          </li>
            <% else %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                LOGIN
              </a>

              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to "Login", user_session_path, class: "dropdown-item" %>

                <%= link_to 'Google', user_google_oauth2_omniauth_authorize_path, class: 'dropdown-item' %>
                <%= link_to 'Facebook', user_facebook_omniauth_authorize_path, class: 'dropdown-item' %>
            </li>
            <% end %>
        </ul>

        <ul class="nav navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Categories
            </a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              
              <% Category.all.each do |category| %>
                <%= link_to category.name, books_path(category: category.name), class: params[:category] == category.name ? "dropdown-item active" : "dropdown-item" %>
              <% end %>
              <% if user_signed_in? %>
                <%= link_to "Add category", new_category_path, class: "dropdown-item" %>
              <% end %>
            </div>
          </li>
        </ul>

<!--         <ul class="nav navbar-nav">
          <% if user_signed_in? %>
            <li class="dropdown-item">
              <%= link_to "Add book", new_book_path , class: "dropdown-item"%>
            </li>
          <% end %>
        </ul> -->

<!--         <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->

        <%= form_tag(search_books_path, method: :get, remote: true, class: 'form-inline my-2 my-lg-0' ) do %>
          <%= text_field_tag(:q, nil, class: 'form-control mr-sm-2') %>
          <%= button_tag('Search', class: 'btn btn-outline-success my-2 my-sm-0') %>
        <% end %>

      </div>
    </nav>

    <p class="notice"> <%= notice %> </p>
    <p class="alert"> <%= alert %> </p>

<div class="container">
      <%= yield %>
</div>


  </body>
</html>
